@import "../../scss/vars.scss";
@import "../../scss/breakpoints.scss";

.Input {
  border: 1px solid $grey;
  color: $grey-dark;
  font-size: 14px;
  margin-bottom: 8px;
  padding: 10px 8px;
  width: 100%;

  &:focus {
    border-color: currentColor;
    outline: 0;
  }

  @include breakpoint(xsmall) {
    padding: 16px 8px;
  }

  &::placeholder {
    color: $grey-dark;
  }
}
