@import '../../scss/breakpoints.scss';
@import '../../scss/vars.scss';

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  &:after {
    content: "";
    background-color: $black;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: map-get($z-index, Modal);
  }

}

.Modal-box {
  background-color: $white;
  padding: 40px 20px;
  position: relative;
  width: 300px;
  z-index: map-get($z-index, Modal-content);
  @include breakpoint(small) {
    padding: 40px;
    width: 400px;
  }
}
