@import "../../scss/vars.scss";

.TimeZoneSelect {
  border: 1px solid $grey;
  font-size: 14px;
  height: 50px;
  width: 100%;
  margin-bottom: 8px;

  &:focus {
    border-color: currentColor;
    outline: 0;
  }
}
